@font-face {
	font-family: 'EPBentonSans';
	src:
		url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/mundial-de-clubes-2029-clasificacion-tabla-de-posiciones-como-van-equipos-conmebol/fonts/EP_BentonSans-Regular_O.woff2')
			format('woff2'),
		url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/mundial-de-clubes-2029-clasificacion-tabla-de-posiciones-como-van-equipos-conmebol/fonts/EP_BentonSans-Regular_O.woff')
			format('woff');
	font-weight: 400; /* normal */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EPBentonSansCond';
	src:
		url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/mundial-de-clubes-2029-clasificacion-tabla-de-posiciones-como-van-equipos-conmebol/fonts/EP_BentonSansCond-Book_O.woff2')
			format('woff2'),
		url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/mundial-de-clubes-2029-clasificacion-tabla-de-posiciones-como-van-equipos-conmebol/fonts/EP_BentonSansCond-Book_O.woff')
			format('woff');
	font-weight: 400; /* normal */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EPBentonSansExtraComp';
	src:
		url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/mundial-de-clubes-2029-clasificacion-tabla-de-posiciones-como-van-equipos-conmebol/fonts/EP_BentonSansExtraComp-Medium_O.woff2')
			format('woff2'),
		url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/mundial-de-clubes-2029-clasificacion-tabla-de-posiciones-como-van-equipos-conmebol/fonts/EP_BentonSansExtraComp-Medium_O.woff')
			format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
	--ff-regular: 'EPBentonSans', sans-serif;
	--ff-cond: 'EPBentonSansCond', 'EPBentonSans', sans-serif;
	--ff-xc: 'EPBentonSansExtraComp', 'EPBentonSans', sans-serif;
}

html,
body {
	font-family: var(--ff-regular);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
